/*codigos de color
-------------------------------------------
Azul = #114E87
Rojo = #A72124
*/

/* .container {
    display: flex;
} */

/* body{
    transform: scale(0.7);
    transform-origin: 0 0;
 } */


/* h2 {
    color:#114E87;
    text-align: center;
    padding-top: 1%;
} */

a {
    text-decoration: none;
}

.h1 {
    color: #114E87;
    font-size: 2.5vw;
}

.h2 {
    color: #114E87;
    font-size: 2.0vw;
}

.h5 {
    color: #114E87;
    font-size: 1.0vw;
}

.h4,
.h3 {
    font-size: 1.5vw;
}

.nav-link {
    color: white;
    font-size: 20px;
}

.nav-item {
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
}

.nav-link:hover {
    color: red;
}

#logoNavbar {
    width: 65%;
}

#btnAsistSocial:hover {
    filter: grayscale(100%);
}


#btnAsistComida:hover {
    filter: grayscale(100%);
}

#btnAsistRopa:hover {
    filter: grayscale(100%);
}

#btnAsistPereg:hover {
    filter: grayscale(100%);
}

#btnAsistONG:hover {
    filter: grayscale(100%);
}

#btnCaritasSocial:hover {
    filter: grayscale(100%);
}


#c_nuestraLabor {
    background-image: url("../images/FONDO\ HOME\ 1\ -\ 1400x1112\,1833\ px.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding-top: 5%;
    padding-bottom: 10%;
}

#c_noticias {
    background-image: url("../images/FONDO\ HOME\ 2\ -\ 1400x756\,4196\ px.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 14%;
    padding-bottom: 15%;
}

#c_consultas {
    background-image: url("../images/FONDO\ HOME\ 3\ -\ 1400x818\,246\ px.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 6%;
}

#imgFormasColaborar {
    margin-top: 64%;
    width: 100%;
}

#imgDondeEstamos {
    margin-top: 40.5%;
    width: 100%;
}

#imgBotonContactanos {
    margin-top: 41%;
    width: 100%;
}

.logoImgPrincipal {
    position: absolute;
    height: auto;
    width: auto;
    z-index: 1;
}

.imgPrincipal {
    position: absolute;
    height: auto;
    width: 100%;
    z-index: -1;
}

iframe {
    width: 80%;
    margin: 0 auto;
    border: none;
    display: block;
    margin-bottom: 5%;
}


#contenidoQuienesSomos {
    background-image: url("../images/quienes_somos/FONDO\ COMPLETO\ QUIENES\ SOMOS\ 1400\ x\ 2524\,4099\ px.png");
    width: 100%;
    height: auto;
    background-position: top;
    background-size: cover;
}

#contenidoQueHacemos {
    background-image: url("../images/que_hacemos/FONDO\ COMPLETO\ QUE\ HACEMOS\ 1400\ x\ 5418\ px.png");
    width: 100%;
    background-position: top;
    background-repeat: repeat;
    background-size: cover;
}

#contenidoComoParticipar {
    background-image: url("../images/como_participar/FONDO\ COMPLETO\ COMO\ PARTICIPAR\ 1400\ x\ 6647\ px.png");
    width: 100%;
    background-position: top;
    background-repeat: repeat;
    background-size: cover;
}

#contenidoCaritasSocial {
    background-image: url("../images/caritas_social/FONDO\ COMPLETO\ CARITAS\ SOCIAL\ 1400\ x\ 1363\ px.png");
    width: 100%;
    background-position: top;
    background-repeat: repeat;
    background-size: cover;
}

#dondeEstamos {
    background-image: url("../images/donde_estamos/FONDO\ COMPLETO\ DONDE\ ESTAMOS\ 1400\ x\ 1510\ px.png");
    width: 100%;
    background-position: top;
    background-repeat: repeat;
    background-size: cover;
}

#solicitarAsistencia {
    background-image: url("../images/solicitar_asistencia/FONDO\ COMPLETO\ SOLICITAR\ ASISTENCIA\ 1400\ x\ 1727\ px.png");
    background-position: top;
    background-repeat: repeat;
    background-size: cover;
}

#quieroDonar {
    background-image: url("../images/quiero_donar/FONDO\ QUIERO\ DONAR\ 1400\ x\ 1499\ px.png");
    background-position: top;
    background-repeat: repeat;
    background-size: cover;
}

.btn-primary {
    background-color: #114E87 !important;
}

.btn-primary:hover {
    background-color: #A72124 !important;
}

.botonesQueHacemos {
    display: grid;
    grid-template-columns: 400px 400px 400px 400px 400px;
    grid-column-gap: 80px;
    margin-left: 10%;
    align-self: end;
}

.botonesQueHacemosBuffetEventos {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-column-gap: 80px;
    margin-left: 35%;
    align-self: end;
}

footer {
    background-image: url("../images/FOOTER\ 1400X\ 252\,8067\ px.png");
    width: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    color: white;
    font-size: 2.5vw;
    padding-top: 7%;
    padding-bottom: 4%;
}

.subir {
    position: fixed;
    right: 40px;
    bottom: 40px;
}

@media (min-width: 1200px) {
    .footer {
        font-size: 1vw;
    }
}


/* Estilos para dispositivos móviles */
@media only screen and (max-width: 768px) {

    h1 {
        font-size: 16px;
        font-weight: bold;
    }

    h2,
    h3 {
        font-size: 14px;
    }

    h4,
    h5 {
        font-size: 12px;
    }

    .col-lg {
        text-align: center;
        padding-left: 5% !important;
        padding-right: 5% !important;
    }

    #imgFormasColaborar,
    #imgDondeEstamos,
    #imgBotonContactanos {
        margin-top: 30%;
        width: 40% !important;
    }

    #btnAsistSocial,
    #btnAsistComida,
    #btnAsistRopa,
    #btnAsistPereg,
    #btnAsistONG,
    #btnCaritasSocial {
        width: 40% !important;
        padding: 2%;
    }

    #imgAbajoConsultas {
        width: 80%;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .btn-danger {
        --bs-btn-padding-y: .25rem;
        --bs-btn-padding-x: .5rem;
        --bs-btn-font-size: .75rem;
    }

    .btn-lg {
        --bs-btn-font-size: 50%;

    }

    .btn-primary {
        --bs-btn-font-size: 40%;
    }

    footer {
        font-size: 1.5vw;
        margin-top: 1%;
    }

    .bi {
        font-size: 14px;
    }

    #politicaFooter {
        padding-top: 5%;
    }

    .botonesQueHacemos {
        display: grid;
        grid-template-columns: 200px 200px;
        grid-column-gap: 40px;
        margin-left: 5%;
        align-self: end;
    }

    .botonesQueHacemosBuffetEventos {
        display: grid;
        grid-template-columns: 180px 180px;
        grid-column-gap: 80px;
        margin-left: 10%;
        align-self: end;
    }

    #imagenQueHacemos {
    }

    .subir {
        font-size: 2rem;
    }
}

/* Estilos para tablets */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

    h1 {
        font-size: 18px;
        font-weight: bold;
    }

    h2,
    h3 {
        font-size: 16px;
    }

    h4,
    h5 {
        font-size: 14px;
    }

    .col-lg {
        text-align: center;
    }

    #imgFormasColaborar,
    #imgDondeEstamos,
    #imgBotonContactanos {
        margin-top: 30%;
        width: 40% !important;
    }

    #btnAsistSocial,
    #btnAsistComida,
    #btnAsistRopa,
    #btnAsistPereg,
    #btnAsistONG,
    #btnCaritasSocial {
        width: 40% !important;
        padding: 2%;
    }

    #imgAbajoConsultas {
        width: 80%;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .btn-danger {
        --bs-btn-padding-y: .25rem;
        --bs-btn-padding-x: .5rem;
        --bs-btn-font-size: .75rem;
    }

}

/* Estilos para escritorio */
@media only screen and (min-width: 1025px) {

    h1 {
        color: #114E87;
        font-size: 80px;
        font-weight: bold;
    }

    h2 {
        font-size: 50px;
    }

    h3 {
        font-size: 35px;
    }

    h4 {
        font-size: 30px;
    }

    h5 {
        font-size: 20px;
    }

    #btnAsistSocial,
    #btnAsistComida,
    #btnAsistRopa,
    #btnAsistPereg,
    #btnAsistONG,
    #btnCaritasSocial {
        margin-top: 2%;
        padding: 8%;
    }

    .subir {
        font-size: 80px;
    }
}